<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" 
         href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" type="text/css" media="all">

    </head>
    
<body>
    <div class="container">
        <div class="col-xs-12 col-md-8"> 
            <br>
            <table class="table table-striped">
           
                <tr>
                     <td> 
                         
                     </td>
                     <td width="50%"> 
                         <a class = "btn btn-default" href="">список книг</a>
                         <a class="btn btn-default" href="">редактировать</a>
                     </td>   
                </tr>
           
            </table> 
        <br>
        <a class="btn btn-success" href="">Добавить автора</a>
        </div> 
    </div> 
</body>
</html>
